*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-container{
    width: 100%;
}
.button-ac{
    background-color: white;
    color: black;
}
.orange{
    background-color: #fb863d;
}
button{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: .3em;
    background-color: #483e3e;
    font-weight: 600;
    color: white;
}

.wrapper{
    background-color: rgb(8, 7, 7);
    border-radius: 1em;
    padding: 1em;
}
.result{
    color: white;
    height: 1.5em;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: .5em;
    font-size: 3.5em;
}
.zero{
    width: 197px;
    text-align: left;
    padding: 1em;
}


@media screen and (max-width: 536px){
    .all-container{
        width: 100%;
    }
    .button-ac{
        background-color: white;
        color: black;
    }
    .orange{
        background-color: #fb863d;
    }
    button{
        width: 3.5em;
        height: 3.5em;
        font-size: 1.2em;
        border: none;
        border-radius: 2em;
        margin: .2em;
        background-color: #483e3e;
        font-weight: 600;
        color: white;
    }
    
    .wrapper{
        background-color: rgb(8, 7, 7);
        border-radius: 1em;
        padding: 1em;
    }
    .result{
        color: white;
        height: 1.5em;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        margin-right: .5em;
        font-size: 3.5em;
    }
    .zero{
        width: 180px;
        text-align: left;
        padding: 1em;
    }
}

@media screen and (max-width: 454px){
    .all-container{
        width: 93%;
    }
    .button-ac{
        background-color: white;
        color: black;
    }
    .orange{
        background-color: #fb863d;
    }
    button{
        width: 3.2em;
        height: 3.2em;
        font-size: 1em;
        border: none;
        border-radius: 2em;
        margin: .15em;
        background-color: #483e3e;
        font-weight: 600;
        color: white;
    }
    
    .wrapper{
        background-color: rgb(8, 7, 7);
        border-radius: 1em;
        padding: 1em;
    }
    .result{
        color: white;
        height: 1.5em;
        border-radius: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        margin-right: .5em;
        font-size: 3.5em;
    }
    .zero{
        width: 120px;
        text-align: left;
        padding: 1em;
    }
}